fastapi
uvicorn[standard]
python-dotenv
asyncpg
sqlalchemy[asyncio]

langgraph
langchain
langchain-core
langchain-openai
openai

fastmcp
python-pptx
pydantic
pydantic-settings  # fastmcp requires >=2.6.1
httpx
pillow
